[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
streamlit = "*"
jsonschema = "*"
pyyaml = "*"
munch = "*"
pandas = "*"
tqdm = "*"
decp-qualite = {editable = true, path = "./decp_qualite"}

[dev-packages]
pylint = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
